#map {
  position: relative;
  overflow: hidden;
  z-index: 2;

  .mapboxgl-canvas {
    position: static;
  }

  .mapboxgl-ctrl-bottom-right {
    right: 7px;

    .mapboxgl-ctrl-group > button {
      width: 40px;
      height: 40px;
    }
  }
}

.search-this-area-button {
  position: fixed;
  z-index: 9999999;
  height: 40px;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 24px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  cursor: pointer;
}

.menu-button {
  position: absolute;
  top: 30px;
  right: 16px;
  z-index: 9999999;
  background: white;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.menu-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: default;

  .menu-popup-content {
    background: white;
    border-radius: 4px;
    padding: 24px;
    width: 70vw;

    .separator {
      height: 1px;
      background: #e0e0e0;
      margin: 8px 0;
    }

    .menu-item-label {
      margin-top: 24px;
      margin-bottom: 8px;
      user-select: none;
    }

    .checkbox {
      height: 48px;
      cursor: pointer;
      user-select: none;

      input {
        width: 14px;
        height: 14px;
        margin: 0;
      }

      .checkbox-label {
        margin: 0;
        margin-left: 8px;
        font-size: 16px;
      }
    }
  }
}
